{% extends 'blog1/base.html' %}
{% block content %}
<div class="container">
<div class="jumbotron">
<h2>NUMERICAL ANALYSIS & OPTIMIZATION TECHNIQUES </h2>
<h3>Module I</h3>
<ul>
<li>Errors In Numerical Calculations 
</li>
<li>Types Of Errors</li>
<li>Significant Digits</li>
<li>Programming Errors</li>
<li>Numerical Solution Of Non Linear Equations</li>
<li>Bisection Method</li>
<li>Regula Falsi Method</li>
<li>Newton Raphson Method </li>
<li>Fixed Point Method Of Iteration </li>
<li>Rates Of Convergence Of These Methods</li>
<li>Solutions Of Algebraic Equations</li>
<li>Guass Elimination Method-</li>
<li>Relaxation Method-</li>
<li>Gauss Seidel Iteration Method</li>
<li>Gauss Jordan Method</li>
<li>Polynomial Interpolation</li>
<li>Lagrange’s Interpolation Polynomial</li>
<li>Divided Differences</li>
<li>Newton’s Divided Difference Interpolation</li>
<li>finite Differences</li>
<li>Operators ∆ ,▽, e,δ Gregory-</li>
<li>Newton Forward And Backward Difference Interpolation Polynomials-
<li>Central Differences.</li>
</ul>

<h3>Module II</h3>
<ul>


<li>Mathematical Formulation Of Linear Programming problem-</li>
<li>Formulation Of LPP-</li>

<li>Graphical Solution Of LPP – </li>
<li>Canonical And Standard Form Of LPP-</li>
<li>Simplex Method-</li>

<li>Big M Method- </li>
<li>Two Phase Method-Principle Of duality-</li>
<li>Dual Simplex Method.</li>
</ul>
<h3>Module III</h3>
<ul>
<li>Transportation Problem</li>
<li>Initial Basic Feasible Solution</li>
<li>North West Corner Rule</li>
<li>Vogel’s Approximation Method </li>
<li>Tests For Optimality-</li>
<li>Unbalanced Transportation Problem</li>

<li>Assignment Problem</li>
<li>Travelling Salesman Problem-</li>
<li>Network Scheduling-Rules Of Network Construction  </li>
<li>Critical Path Method-PERT.</li>
</ul>
<p>
<h3>Text Books:</h3>
Sastry S.S., Numerical Analysis, Prentice-Hall India (module I), 4 th edition</br>
Kanthi Swarup, P.K.Gupta,Man Mohan, Operations research , </br>
Sultan Chand & Sons.(moduleII), 5 th edition</br>


Reference books:-
1. R Panneerselvam – Operations research, 2 nd edition, PHI</br>

2. Froberg, Introduction to Numerical Analysis-Second Edition , Addition Wesley</br>

3. Erwin Kreyszig, Advanced Engineering Mathematics, New Age International (p) Limited</br>

4. Gerald and Wheatley , Applied Numerical Analysis, Pearson Education Asia, Sixth Edition</br>
</br>
5. S . S Rao, Optimization Theory and Applications, Wiley Eastern</br>

6. Grawin W. W , Introduction of Linear Programming , McGraw Hill</br>

7. Kalyamoy Deb – Optimization for engineering design, algorithms and examples, PHI</br>

8. Q S Ahamed, Z Khan, S A Khan- Numerical and Statistical Techniques, Ane’s Books 2009</br>

9. B N Mishra, B K Mishra, Optimization Linear Programming, Ane’s Books,2009</br>

</p>
</div>
</div>
{% endblock %}

